<section class="section experiences-section">
               <h2 class="section-title"><i class="fa fa-briefcase"></i>工作與志工經驗</h2>
                   <div class="item">
                     <div class="meta">
                         <div class="upper-row">
                           <h3 class="job-title">暑期工讀</h3>
                           <div class="time">2013.6 - 2013.9</div>
                         </div><!--//upper-row-->
                      <div class="company">民宿櫃台人員</div>
                     </div><!--//meta-->
                     <div class="details">             
                       <p>1. 提供顧客之接待與需求服務網站彙整</a></p>  
                       <p>2. 負責商品進貨入庫、銷售管理及庫存管理</p>                        
                    </div><!--//details-->
                 </div><!--//item-->
                 <div class="item">
                     <div class="meta">
                         <div class="upper-row">
                           <h3 class="job-title">資訊工讀生</h3>
                           <div class="time">2014.6 - 2014.9</div>
                         </div><!--//upper-row-->
                      <div class="company">灣麗磚瓦文物館-圖書館e化</div>
                     </div><!--//meta-->
                     <div class="details">
                       <p>1. 網站彙整</a></p>  
                       <p>整合相關網站爬蟲工具wget，讓網站開發人員可以透過這統整資料更新相關內容。
                       <p>2. 書籍數位化，產業導覽</p>                        
                        <p>利用ISBN及系統整理書籍保存，使其有效率管理；與顧客互動，延續磚瓦文化。</p>
                  </div><!--//details-->
                 </div><!--//item-->
                 <div class="item">
                     <div class="meta">
                         <div class="upper-row">
                           <h3 class="job-title">教學志工</h3>
                           <div class="time">2015.2 - 2015.6</div>
                         </div><!--//upper-row-->
                      <div class="company">課輔天使導師</div>
                     </div><!--//meta-->
                     <div class="details">             
                       <p>1. 協助偏遠國校學生課後輔導</a></p>  
                     </div><!--//details-->
                 </div><!--//item-->
                 <div class="item">
                     <div class="meta">
                         <div class="upper-row">
                            <h3 class="job-title">教育部</h3>
                            <div class="time">2015.10 - 2016.5</div>
                         </div><!--//upper-row-->
                        <div class="company">國立臺東大學資訊志工團隊</div>
                     </div><!--//meta-->
                     <div class="details">                       
                     <p>1.幫助年長者以及學童學習資訊應用軟體，在他們身上「活到老學到老」的精神。 <p>
                     </div><!--//details-->
                 </div><!--//item-->

                </div><!--//item-->
                 <div class="item">
                     <div class="meta">
                         <div class="upper-row">
                            <h3 class="job-title">研發處工讀生</h3>
                            <div class="time">2015.2 - 2015.6</div>
                         </div><!--//upper-row-->
                        <div class="company">國立臺東大學</div>
                     </div><!--//meta-->
                     <div class="details">                       
                     <p>1.維護院內環境整潔、送發公文和維護處內網站。透過這些工作讓我更加熟悉校務程序流程，因此對於網站維護有更大的幫助。</a>
                     </div><!--//details-->
                 </div><!--//item-->
     
</section><!--//section-->
