<section class="section experiences-section">
               <h2 class="section-title"><i class="fa fa-briefcase"></i>工作經驗</h2>
                 
                 <div class="item">
                     <div class="meta">
                         <div class="upper-row">
                           <h3 class="job-title">資訊工讀生</h3>
                           <div class="time">2017.7 - 2017.9</div>
                         </div><!--//upper-row-->
                      <div class="company">灣麗磚瓦文物館-圖書館e化</div>
                     </div><!--//meta-->
                     <div class="details">
                       <p>1. 網站彙整</a></p>  
                       <p>整合相關網站爬蟲工具wget，讓網站開發人員可以透過這統整資料更新相關內容。
                       <p>2. 建立書籍數位化，進行產業導覽</p>                        
                        <p>利用ISBN及系統整理書籍保存，使其有效率管理；與顧客互動，延續磚瓦文化。</p>
                  </div><!--//details-->
                 </div><!--//item-->
            
                 <div class="item">
                     <div class="meta">
                         <div class="upper-row">
                            <h3 class="job-title">研發處工讀生</h3>
                            <div class="time">2014.2 - 2017.6</div>
                         </div><!--//upper-row-->
                        <div class="company">國立臺東大學</div>
                     </div><!--//meta-->
                     <div class="details">                       
                        <p>1. 工作項目</p>  
                        <p>維護院內環境整潔、送發公文和維護處內網站。透過這些工作讓我更加熟悉校務程序流程，因此對於網站維護有更大的幫助。</a>
                     </div><!--//details-->
                 </div><!--//item-->
     
</section><!--//section-->
