{% if site.data.experiences %}
<section class="section experiences-section">
  <h2 class="section-title"><i class="fa fa-briefcase"></i>工作經驗</h2>

{% for experience in site.data.experiences %}
    <div class="item">
                     <div class="meta">
                         <div class="upper-row">
-                            <h3 class="job-title">Lead Developer</h3>
-                            <div class="time">2015 - Present</div>
+                            <h3 class="job-title">資訊工讀生</h3>
+                            <div class="time">2017.7 - 2017.9</div>
                         </div><!--//upper-row-->
-                        <div class="company">Startup Hubs, San Francisco</div>
+                        <div class="company">灣麗磚瓦文物館-圖書館e化</div>
                     </div><!--//meta-->
                     <div class="details">
-                        <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo.</p>  
-                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
-                    </div><!--//details-->
+                        <p>1.網站彙整</a></p>  
+                        <p>整合相關網站爬蟲工具wget，讓網站開發人員可以透過這統整資料更新相關內容。</p>
+                        <p>2.建立書籍數位化</p>                        
+                        <p>利用ISBN及系統整理書籍保存，使其有效率管理。</p>
+                  </div><!--//details-->
                 </div><!--//item-->
 <div class="item">
                     <div class="meta">
                         <div class="upper-row">
-                            <h3 class="job-title">Senior Software Engineer</h3>
-                            <div class="time">2014 - 2015</div>
+                            <h3 class="job-title">研發處工讀生</h3>
+                            <div class="time">2014.2 - 2017.6</div>
                         </div><!--//upper-row-->
-                        <div class="company">Google, London</div>
+                        <div class="company">國立臺東大學</div>
                     </div><!--//meta-->
                     <div class="details">
-                        <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>  
-                        
+                        <p>1. 工作項目</p>  
+                        <p>維護院內環境整潔、送發公文和維護院內網站。透過這些工作讓我更加熟悉校務程序流程，因此對於網站維護有更大的幫助。
                     </div><!--//details-->
                 </div><!--//item-->



{% endfor %}

</section><!--//section-->
{% endif %}
