<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>專案經驗</h2>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">商業智慧應用於圖資館讀者滿意度管理與實現</h3>
                            <div class="time">2016.7 - 2016.3</div>
                        </div><!--//upper-row-->
                        <div class="company">教育部特色大學計畫</div>
                    </div><!--//meta-->
                    <div class="details">    
                      <p>1. 研究目的</p>  
                      <p>實現資料分析與達成管理目的，透過比較讀者前後滿意度差異，並利用績效管理KPI、KRI，可以客觀的得出讀者對於圖書館內的改善的滿意程度及關鍵影響的因素，想知道更多歡迎聯絡我，找我聊聊!</p>
                    </div><!--//details-->
                </div><!--//item-->
            
                            </section><!--//section-->
